@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
}

#__next {
    display: flex;
    flex-direction: column;
    width: 100%;
}
