@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #151515;
}

#__next {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-color,
.input-color::placeholder {
    color: rgba(255, 255, 255,0.5);
}

.button-shadow {
    box-shadow: 0px 0px 15px -1px rgba(15, 83, 250, 0.5);
}

.error-shadow {
    box-shadow: 0px 0px 17px -3px rgba(251, 92, 142, 0.5);
}
